<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<<<<<<< HEAD
    <title>Anime News</title>
=======
    <title>Example App</title>
>>>>>>> 958183b4b606637393ad268e16c8802e7a2a08f8
    <link rel="stylesheet" type="text/css" href="../../css/css.css">
</head>
<body>

    {{{body}}}

</body>
</html>
