<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Anime News</title>
    <link rel="stylesheet" type="text/css" href="../../css/css.css">
</head>
<body>

    {{{body}}}

</body>
</html>
