<div id="wrapper">
  <h1>Anime News</h1>
  <h2><i>*:・゜</i></h2>

  <div id="articles"></div>
  <div id="notes"></div>
</div>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="../js/script.js"></script>
