<<<<<<< HEAD
<div id="wrapper">
  <h1>Anime News</h1>
  <h2><i>*:・゜</i></h2>
=======
<h1>Web scraper</h1>

<div id="wrapper">
  <h1>Note Scraper</h1>
  <h2><i>If you can do this...the homework should be no problem.</i></h2>
>>>>>>> 958183b4b606637393ad268e16c8802e7a2a08f8
  <div id="articles"></div>
  <div id="notes"></div>
</div>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="../js/script.js"></script>
